@import '../constants/layout';
@import '../helpers/units';

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	background-color: rebeccapurple;
}

.wrapper {
	width: rem($wrapper-width);
	max-width: 90%;
	margin: 0 auto;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.noselect {
	user-select: none;
}
