@import '../../assets/styles/constants/layout';
@import '../../assets/styles/helpers/colors';
@import '../../assets/styles/helpers/units';
@import '../../../node_modules/sass-mq/mq';

.seesaw {
	&__wrapper,
	&__container {
		height: 100%;
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: rem(30);
		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform: perspective(5px) rotateX(10deg);
		}
	}
	&__beam {
		width: rem($seesaw-beam-width);
		max-width: 100%;
		transition: transform 250ms ease;
		&::before {
			content: '';
			display: block;
			height: rem($seesaw-beam-height);
			background-color: get-color('red');
			background: rgb(0, 0, 0);
			background: radial-gradient(
				circle,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 211, 211, 0.603) 100%
			);
		}
	}
	&__fulcrum {
		position: relative;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 rem($seesaw-fulcrum-size) rem($seesaw-fulcrum-size)
				rem($seesaw-fulcrum-size);
			border-color: transparent;
			@include mq($until: sm) {
				border-width: 0 26.5vw 26.5vw 26.5vw;
			}
		}
		&::before {
			position: absolute;
			top: 100%;
			left: 50%;
			border-bottom-color: get-color('black', 0.4);
			transform: translate(-50%) rotateX(180deg);
			filter: blur(rem(12));
		}
		&::after {
			position: relative;
			border-bottom-color: #fff;
		}
	}
}
