$body-font-size: 20;
$body-font-family: 'Titillium Web', sans-serif;
$border-radius: 32;
$seesaw-fulcrum-size: 200;
$seesaw-beam-width: 750;
$seesaw-beam-height: 7;
$wrapper-width: 1200;
$mq-breakpoints: (
	xs: 480px,
	sm: 768px,
	md: 991px,
	lg: 1280px
);
