@import '../../assets/styles/helpers/colors';
@import '../../assets/styles/helpers/units';
@import '../../assets/styles/constants/layout';

.button {
	display: inline-block;
	vertical-align: middle;
	min-width: em(95, 15);
	padding: rem(10) rem(20);
	border: rem(1) solid get-color('gray', 0.5);
	border-radius: rem($border-radius);
	box-shadow: 0 rem(1) rem(2) get-color('gray', 0.25);
	background-color: get-color('white');
	color: inherit;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	font-size: em(15);
	font-weight: 700;
	appearance: none;
	user-select: none;
	margin-right: 5px;
	z-index: 99999;
	&:hover,
	&:focus {
		background-color: get-color('gray', 0.05);
	}
	&:hover {
		border-color: get-color('gray', 0.75);
	}
	&:focus {
		box-shadow: 0 0 0 rem(1);
		border-color: get-color('gray');
	}
	&--small,
	&--xsmall {
		min-width: auto;
		box-shadow: 0 rem(1) rem(3) get-color('gray', 0.1);
		padding: rem(4) rem(6);
		font-size: em(12);
	}
	&--xsmall {
		font-size: em(8);
	}
	&--blue {
		border-color: #3498db;
		color: #3498db;
	}
	&--red {
		border-color: #E74C3C;
		color: #E74C3C;
		
	}
	&[disabled],
	&.is--disabled {
		opacity: 0.5;
		filter: grayscale(1);
		cursor: not-allowed;
	}
}
