@import "../../assets/styles/helpers/colors";
@import "../../assets/styles/helpers/units";

.sky {
  flex-grow: 1;
  & > * {
    position: relative;
    height: 100%;
  }
  &__status {
    margin-top: 20px;
	z-index: 1;
	max-width: 50%;
	margin-left: 25%;
    height: auto;
    padding: em(10) em(20);
    box-shadow: 0 0 rem(10) get-color("black", 0.1);
    background-color: get-color("white", 0.4);
    color: get-color("black", 0.75);
    font-size: rem(11);
    line-height: 1;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    li {
      padding-left: em(10);
      padding-right: em(10);
      float: left;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
