@import '../../assets/styles/constants/layout';
@import '../../assets/styles/helpers/colors';
@import '../../assets/styles/helpers/units';

.canvas {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	//background: get-color('white');

	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

	}
	&::after {
		content: attr(data-gameover-text);
		z-index: 10;
		position: absolute;
		left: 50%;
		top: 50%;
		display: none;
		color: #fff;
		padding: 1.25em;
		border-radius: rem($border-radius);
		transform: translate(-50%, -50%);
		animation: fadeIn 500ms;
		box-shadow: 0 rem(2) rem(3) get-color('black', 0.125);
		font-weight: 700;
		font-size: 7.5vh;
		text-align: center;
		line-height: 1;
	}
	.seesaw {
		transition: filter 250ms ease;
	}
	&.is--ended {
		&::after {
			display: block;
		}
		.seesaw {
			filter: blur(10px) grayscale(1);
		}
	}
}
